/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.row {
	border-bottom:1px solid;
	display: flex;
}

.row:first-child {
	border-top:1px solid;
}

.row [class*="col-xs"] {
	border-right: 1px solid;
	text-align: center;
	display:flex;
  	flex-direction:column;
  	justify-content:center;
  	.row {
  		border-top:1px solid;
  		border-bottom:0px solid;
  	}
}

.row [class*="col-xs"]:first-child {
	border-left: 1px solid;
}

.row p.small {
	text-align: left;
}

.img-centered {
	align-items:center;
}
