%nav.navbar.navbar-inverse
	.container
		= link_to 'Brand', root_path, class: 'navbar-brand'
		%ul.nav.navbar-nav
			%li.active= link_to 'Link', '#'
			%li= link_to 'Link', '#'
		%ul.nav.navbar-nav.navbar-right
			%li= link_to 'Sign in', '#'